main {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .scrollable-container {
    flex: 1;
    overflow: auto;
  }
}