<div (click)="bookSelected()" class="book-row">
  <span class="info">
    <span>
      <img [src]="item?.img" class="book-img" >
    </span>
    <div class="text">
      <div class="mat-subheading-2 no-btm">
        {{item?.title}} 
      </div>
      <div class="mat-caption no-btm">
        {{item?.author}}
      </div>
    </div>
  </span>
  <span class="mat-subheading-1 no-btm price">
    <span style="margin-right: 8px;">
      {{item?.price}} 
    </span>
    <span>
      $
    </span>
  </span>
</div>

