.fe-button {
  position: fixed;
  height: 48px;
  width: calc(100% - 32px);
  margin: 0 16px;
  background-color: #1666D8;
  color: #fff;
  bottom: 16px;
  padding: 0 !important;
  z-index: 10000;
}

.container {
    position: absolute;
    height: calc(100% - 226px) !important;
    padding: 36px 16px;
    width: calc(100% - 32px);
    top: 162px;

    .no-results {
        text-align: center;
        display: -webkit-flex;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: calc(100% - 152px);

        .icon {
            width: 99px;
            height: 99px;
            font-size: 99px;
            color: rgba(0,0,0,0.54);
        }

        .search-text {
            color: rgba(0,0,0,0.87);
            margin-bottom: 3px
        }

        .search-description {
            color: rgba(0,0,0,0.6)
        }
    }
}

// ITEM LIST

/* .container {
    .list {
        .list-item {
            height: 64px;
            .item-line {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                // height: 24px;
            }

            .description {
                .title {
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: 600;
                }

                .subtitle {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            // .order-subtitle {
            //     height: 40px;
            // }

            .amount {
                font-weight: 600;
                color: #1666D8;
            }
        }

        .divider {
            // position: relative;
            left: 16px;
            width: calc(100% - 16px);
        }
    }
}
 */
