<div class="main-wrapper">
  <header>
    <fe-header [icon]="'keyboard_arrow_left'" [class]="'mat-headline'" [title]="'New order'" [currentUrl]="'article'"
      [headerSearch]="true" [style]="'center'"></fe-header>
    <fe-search 
              [list]="articles" 
              [itemType]="rowType"
              [small]="true"
              (hidePlaceholder)="hidePanel($event)"
              (darker)="showShadow($event)"
              (nodata)="noDataPlaceholder($event)"
              (clickOutside)="removeDark()"></fe-search>
  </header>

  <main>
    <div class="container" [ngClass]="shadow ? 'shadow' : ''">
      <div class="no-results" *ngIf="!hide" (click)="removeDark()">
        <mat-icon class="icon">search</mat-icon>
        <div class="mat-title search-text">Search articles</div>
        <div class="mat-subheading-2 search-description">Find stock, sales & … info</div>
      </div>
    </div>
  </main>
  <footer>
    <button mat-button class="fe-button" (click)="overviewOrder()">OVERVIEW</button>
  </footer>
</div>
<fecommerce-workspace-z-scan></fecommerce-workspace-z-scan>
<router-outlet></router-outlet>