@use '../../../assets/styles/sctructural' as structure;
$header-height: 162px;
.main-wrapper {
    @include structure.set-structure($header-height, 80px);

    .container {
        padding: 36px 16px;
        height: 100%;

        .no-results {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .icon {
                width: 99px;
                height: 99px;
                font-size: 99px;
                color: rgba(0, 0, 0, 0.54);
            }

            .search-text {
                color: rgba(0, 0, 0, 0.87);
                margin-bottom: 3px;
            }

            .search-description {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    footer {
        padding: 0 16px;
        padding-bottom: 32px;

        .fe-button {
            position: relative;
            height: 48px;
            width: 100%;
            background-color: #1666d8;
            color: #fff;
        }
    }
}
