
<div class="main-wrapper">
  <header>
    <fe-header [icon]="'keyboard_arrow_left'"
           [class]="'mat-headline'"
           [title]="'neworder'"
           [lastUrl]="lastUrl"
           [headerSearch]="true"
           [style]="'center'"></fe-header>
    <fe-search (searchFocus)="showShadow($event)"
               (searchBlur)="removeShadow()"
               (userSearching)="hidePanel($event)"
               (hasSearchResults)="handleSearchResults($event)"
               [list]="articles"
               ></fe-search>
  </header>

  <main>
    <div (scroll)="onScroll($event)" class="container" [ngClass]="shadow || !emptyResults ? 'shadow move-up' : ''">
      <fe-search-results *ngIf="!emptyResults"
                         [items]="filteredResults"
                         [rowType]="rowType"
                         class="search-results"></fe-search-results>
      <div class="no-results"
           *ngIf="!hide && emptyResults">
        <mat-icon class="icon">search</mat-icon>
        <div class="mat-title search-text">{{'searcharts' | translate}}</div>
        <div class="mat-subheading-2 search-description">{{'artsplaceholder' | translate}}</div>
      </div>
      <div class="no-results" *ngIf="hide && emptyResults">
        <div class="mat-title search-text">{{'nomatcharts' | translate}}</div>
      </div>
    <button mat-button *ngIf="!shadow" class="fe-button" (click)="overviewOrder()">{{('overview' | translate) | uppercase}}</button>
    </div>
  </main>
</div>
<!-- <fecommerce-workspace-z-scan></fecommerce-workspace-z-scan> -->
<router-outlet></router-outlet>
