.gradient-background {
  height: 178px;
  width: 100%;
  background-image: url("/assets/img/header.png");
  background-repeat: round;
  color: #ffffff;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

