.gradient-background {
  height: 178px;
  width: 100%;
  background-image: url("/assets/img/header.png");
  background-repeat: round;
  color: #ffffff;
  padding-left: 16px;
  display: flex;

  .close-icon {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25%;

  }
}

