<mat-card style="margin: 16px 0;">
  <div class="format-items">
    <div *ngIf="!edit" class="format-items">
      <h6 class="mat-title" style="margin: 0">
        {{ (order?.descrip) | titlecase }}
      </h6>

      <div>
        <button mat-raised-button class="mat-caption" color="primary" (click)="editOrder()" style="margin-right: 8px;">
          Edit
        </button>
        <button mat-raised-button class="mat-caption" color="warn" (click)="deleteOrder()">
          Delete
        </button>
      </div>
    </div>
    <div *ngIf="edit" class="format-items">
      <form [formGroup]="orderForm" (ngSubmit)="saveOrder()">
        <input matInput placeholder="{{order.descrip}}" formControlName="descrip">
      </form>
      <button mat-raised-button class="mat-caption" color="primary" (click)="saveOrder()">
        Save
      </button>
    </div>
    <!-- <button mat-raised-button class="mat-caption" color="primary" (click)="addArticle()">
      Add article
    </button> -->
  </div>
  <app-article *ngFor="let article of order?.articles" [article]="article"></app-article>
</mat-card>
