.sheet {
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .icon {
      background: transparent;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .subtitle {
    padding: 16px 0;
    color: rgba(0, 0, 0, 0.6);
  }

  .divider {
    height: 4px;
    background:#1666D8;
    width: 80px;
    margin: 16px 0;

  }

  .description {
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.87);
    height: 56px;

    .text {
      display: flex;
      align-items: center;
      margin-left: 16px;
    }

    .icon {
      display: flex;
      align-self: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .delete {
    width: 100%;
    margin-bottom: 24px;
    margin-top: 32px;
    color: #B00020;
  }


}
