<app-header></app-header>
<div class="container">
  <h5 class="mat-headline headline">Recent orders</h5>
  <mat-card class="card">
    <mat-card-content>
      <mat-list class="list">
        <mat-list-item class="list-item" *ngFor="let order of orders">
          <div mat-line class="mat-subheading-2 order-title">
            <div class="title">
              {{order.id}}
            </div>
            <div class="mat-caption money">
              € {{order.amount}}
            </div>
          </div>
          <div mat-line class="mat-body-1 order-subtitle">
            <div class="line">{{order.description}}</div>
            <div class="line">Created by {{order.createdBy}}</div>
          </div>
          <mat-divider class="divider"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <app-fe-create-button (click)="createOrder()"></app-fe-create-button>

</div>