<app-header></app-header>
<div class="container">
  <h5 class="mat-headline headline">Recent orders</h5>
  <mat-card class="card">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div mat-line>O-20200217</div>
          <div mat-line>ABC Developpement</div>
          <div mat-line>Created by Cyril Castelbou</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <app-fe-create-button (click)="createOrder()"></app-fe-create-button>

</div>