@import "~@angular/material/theming";

.header-toolbar {
  position: relative;
  height: 112px;
  // width: 100%;
  background-color: #1666d8;
  box-sizing: border-box;
  padding: 0 16px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  //touch-action: none;

  .left-icon {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1666d8;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    font-size: 22px;
  }

  .title {
    margin: 0;
    color: #fff;
  }

  .right-icon {
    @extend .left-icon;
    z-index: 4;
    background: transparent;
    color: rgba(255, 255, 255, 0.87);
  }

  .title-centered {
    width: calc(100% - 64px);
    text-align: center;
  }

  .search {
    display: none;
  }

  .profile {
    display: none;
  }
}

.centered {
  justify-content: space-between;
}

.over-header {
  @include mat-elevation(4);
  transition: box-shadow 0.7s;
  z-index: 1;
}

.header-search {
  height: 162px;
  padding-bottom: 24px;
}

// .overlay {
//   height: 100%;
//   color: #ffffff;
//   overflow: hidden;
//   background-repeat: no-repeat;
//   background-size: 240px 240px, 253px 253px, 169px 169px, 188px 188px, cover;
//   background-image: url("~/assets/img/blurry-circle-3.svg"), url("~/assets/img/blurry-circle-3.svg"),
//     url("~/assets/img/blurry-circle-3.svg"), url("~/assets/img/blurry-circle-3.svg"),
//     linear-gradient(270deg, #1f51d2 0%, #1946b9 100%);
//   background-position: -80px -124px, 100px -170px, 318px 56px, 268px 104px, 0 0;
// }


// .header {
//   position: relative;
//   box-sizing: border-box;
//   display: flex;
//   height: 80px;
//   width: 100%;
//   padding: 16px;
//   font-size: 24px;
//   color: white;
//   background: #1666d8;
//   justify-content: flex-start;
//   align-items: flex-end;
// }
