<mat-toolbar class="header-toolbar" [ngClass]="(centered | async) ? 'centered' : ''">
  <div *ngIf="leftIcon | async" class="left-icon">
    <mat-icon class="left-icon" (click)="goLastVisited()">
      {{leftIcon | async}}
    </mat-icon>
  </div>
  <div class="title" [ngClass]="titClass | async">
    {{title | async}}
  </div>
  <mat-icon [style.visibility]="!rightIcon ? 'hidden' : 'visible'"  class="right-icon" (click)="rightIconClicked()">
    {{rightIcon | async}}
  </mat-icon>
</mat-toolbar>
