
<div class="main-wrapper">
    <header>
      <fe-header [icon]="'keyboard_arrow_left'"
                 [title]="'artdet'"
                 [class]="'mat-headline'"
                 [style]="'center'"
                 [lastUrl]="'article'"
                 (returnUrl)="returnUrl()"></fe-header>

    </header>
    <main>
        <div class="container">
            <fe-card class="article-card">
                <div class="content">
                    <mat-list class="list">
                        <mat-list-item class="list-item">
                            <div mat-line class="order-title">
                                <div class="mat-subheading-2 title">
                                    <!-- {{article.name}} -->
                                    {{'artcode' | translate}}
                                </div>
                            </div>
                            <div mat-line class="order-subtitle">
                                <div class="mat-body-1 line">
                                    {{article?.id}} - {{article?.name}}
                                    <!-- {{article.description}} -->
                                </div>
                            </div>
                            <mat-divider class="divider"></mat-divider>
                        </mat-list-item>
                        <mat-list-item class="list-item">
                            <div mat-line class="order-title">
                                <div class="mat-subheading-2 title">
                                    <!-- {{article.name}} -->
                                    {{'artname' | translate}}
                                </div>
                            </div>
                            <div mat-line class="order-subtitle">
                                <div class="mat-body-1 line">
                                    {{article?.description}}
                                    <!-- {{article.description}} -->
                                </div>
                            </div>
                            <mat-divider class="divider"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </div>
            </fe-card>
        </div>
    </main>
    <footer>
        <fe-card class="quantity-card">
            <div class="content">

                <div class="mat-subheading-2 left">
                    {{'quantity' | translate}}
                </div>
                <div class="mat-title right">
                    <button mat-icon-button (click)="removeQuantity()">
                        <mat-icon class="icon">remove_circle_outline</mat-icon>
                    </button>
                    <div class="amount">{{amount}}</div>
                    <button mat-icon-button (click)="addQuantity()">
                        <mat-icon class="icon">add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
        </fe-card>

        <button mat-button color="primary" class="add-button" [disabled]="amount === 0" (click)="addToOrder()">{{'addTo' | translate}}</button>
    </footer>

</div>
