<fe-header [icon]="'keyboard_arrow_left'" [title]="'Article detail'" [class]="'mat-headline'" [style]="'center'"></fe-header>

<div class="container">
    <mat-list class="list">
        <mat-list-item class="list-item">
            <div mat-line class=" order-title">
                <div class="title">
                    <!-- {{article.name}} -->
                    Envelope
                </div>
            </div>
            <div mat-line class="mat-body-1 order-subtitle">
                <div class="line">
                    Descriptions
                    <!-- {{article.description}} -->
                </div>
            </div>
            <mat-divider class="divider"></mat-divider>
        </mat-list-item>
    </mat-list>
</div>
