@use '../../../../assets/styles/sctructural' as structure;
$header-height: 151px;
$footer-height: 176px;

.main-wrapper {
    @include structure.set-structure($header-height, $footer-height);

    main {
        .container {
            position: relative;
            padding: 16px;

            .article-card {
                position: fixed;
                width: calc(100% - 32px);
                top: 112px;
                padding: 0 !important;
                .content {
                    padding: 0 16px;
                    .list {
                        padding: 0;
                        .list-item {
                            height: 64px;

                            .order-title {
                                height: 24px;
                            }

                            .order-subtitle {
                                height: 20px;
                            }

                            .divider {
                                width: calc(100% + 16px);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 0 16px;
        .quantity-card {
            padding: 0 !important;
            height: 64px;
            .content {
                padding: 16px;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;

                .left {
                    margin: 0;
                    color: rgba(0, 0, 0, 0.87);
                }

                .right {
                    height: 32px;
                    margin: 0;
                    flex: 0 0 126px;
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    align-items: center;

                    .amount {
                        color: rgba(0, 0, 0, 0.87);
                    }

                    .icon {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }

        .add-button {
            margin: 32px 0;
            width: 100%;
            height: 48px;
            background-color: #1666d8;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1.25px;
        }
    }
}
