.create-button {
  position: fixed;
  right: 16px;
  bottom: 32px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1666D8;
  z-index: 3;

  .fav-icon {
    color: #fff;
  }
}
