.search-container {
  position: absolute;
  padding: 0 !important;
  top: 128px;
  width: auto;
  right: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 104px;
  border-bottom: 1px solid rgba(0,0,0,0);
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  .title {
    margin: 0 !important;
    padding-top: 24px;
    background: #ffffff;
    width: -webkit-fill-available;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

  }

  .search-field {
    position: absolute;
    padding: 16px;
    width: auto;
    display: flex;
    align-items: center;
    height: 16px;
    top: 56px;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .search-bar {
      padding: 0 16px;
      width: 100%;
      top: 2px;

      .input {
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: inherit !important;
        font-family: Roboto !important;
        letter-spacing: 0.15px;
        margin: 0 !important;
        color: rgba(0, 0, 0, 0.6);
      }

      .placeholder {
        color: rgba(0, 0, 0, 0.6)
      }
    }

  }

  .mat-autocomplete-panel{
    top: 200px !important;
  }

}

.item {
  display: flex;
  width: 100%;
  align-items: center;
}

.no-data {
  position: absolute;
  width: auto;
  right: 16px;
  left: 16px;
  top: 232px;
  padding: 0 !important;
  border-top: solid 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  height: 256px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

::ng-deep .mat-option-text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

::ng-deep .mat-autocomplete-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 0px 0px 0px rgba(0, 0, 0, 0.12)
              !important;
}

::ng-deep .mat-autocomplete-panel {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

::ng-deep .cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  left: 16px !important;
  margin-top: 10px !important;
  right: 16px !important;
  border-top: solid 0px rgba(0, 0, 0, 0.1) !important;
}

::ng-deep .mat-autocomplete-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-form-field-underline {
  display: none;
}
