<div (click)="onSelectCustomer($event, item)" class="customer-row">
  <div class="avatar">
    <div class="mat-body-2 initials-sidenav" [ngClass]="(smaller | async) ? 'mat-body-1' : ''">{{ initials | async }}</div>
  </div>
  <div class="item">
    <div class="item-info text-truncate">
      <h3 class="mat-subtitle-1 title text-truncate">
        {{item?.name}}
      </h3>
      <div class="mat-body-1 subtitle text-truncate">
        {{item?.address?.city}}
      </div>
    </div>
    <mat-icon>
      keyboard_arrow_right
    </mat-icon>
  </div>
</div>
