@use '../../../../assets/styles/sctructural' as structure;
$header-height: 162px;
$footer-heigth: 80px;

.page-content {
  .content {
      .header-extension {
        position: absolute;
        height: 40px;
        width: 100%;
        background: #1666d8;
        left: 0;
      }

      .customer-row {
        padding: 0;
        border-radius: 8px;
        margin-bottom: 32px;

        .customer-info {
          display: flex;
          align-items: center;
          padding: 0 16px;

          .avatar {
            background-color: rgba(0, 0, 0, 0.1);
            height: 40px;
            width: 55.28px;
            border-radius: 50%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            color: rgba(0, 0, 0, 0.87);
            text-align: center;
          }

          .item {
            display: flex;
            width: 100%;
            height: 71px;
            justify-content: space-between;
            align-items: center;
            margin-left: 16px;

            .item-info {
              .title {
                display: flex;
                margin: 0 !important;
                height: 28px;
                color: rgba(0, 0, 0, 0.87);
                align-items: center;
              }

              .subtitle {
                margin: 0 !important;
                color: rgba(0, 0, 0, 0.6);
              }
            }
          }
        }
        .total {
          display: flex;
          justify-content: space-between;
          padding: 16px;
        }

        .amount {
          color: rgba(0, 0, 0, 0.6);
        }
      }

      .order-items {
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;

        .title {
          color: rgba(0, 0, 0, 0.87);
          margin: 0px;
        }

        .items {
          color: rgba(0, 0, 0, 0.6);
          margin: 0px;
        }
      }
  }

  footer {
    .fe-button {
      height: 48px;
      width: 100%;
      background-color: #1666d8;
      color: #fff;
    }
  }
}

