<app-header [class]="'mat-display-1'"></app-header>

<div class="container">
  <div class="no-results">
    <mat-icon class="icon">search</mat-icon>
    <div class="mat-title search-text">Search articles</div>
    <div class="mat-subheading-2 search-description">Find stock, sales & … info</div>
  </div>
</div>

<!-- <div class="container">
  <app-fe-card>
    <div class="content">
      <mat-list class="list">
        <mat-list-item class="list-item">
          <div mat-line class="mat-subheading-2 item-line">
            <div class="description">
              <div class="title">
                Envelope 2A-6
              </div>
              <div class="mat-body-1 subtitle">
                5 in stock 
              </div>
            </div>
            <div class="amount">
              € 13.30
            </div>
          </div>
          <mat-divider class="divider"></mat-divider>
        </mat-list-item>
        <mat-list-item class="list-item">
          <div mat-line class="mat-subheading-2 item-line">
            <div class="description">
              <div class="title">
                Envelope
              </div>
              <div class="mat-body-1 subtitle">
                23 in stock 
              </div>
            </div>
            <div class="amount">
              € 13.30
            </div>
          </div>
          <mat-divider class="divider"></mat-divider>
        </mat-list-item>
        <mat-list-item class="list-item">
          <div mat-line class="mat-subheading-2 item-line">
            <div class="description">
              <div class="title">
                Envelope
              </div>
              <div class="mat-body-1 subtitle">
                23 in stock 
              </div>
            </div>
            <div class="amount">
              € 13.30
            </div>
          </div>
          <mat-divider class="divider"></mat-divider>
        </mat-list-item>
        <mat-list-item class="list-item">
          <div mat-line class="mat-subheading-2 item-line">
            <div class="description">
              <div class="title">
                Envelope
              </div>
              <div class="mat-body-1 subtitle">
                23 in stock 
              </div>
            </div>
            <div class="amount">
              € 13.30
            </div>
          </div>
          <mat-divider class="divider"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </app-fe-card>
</div> -->