
<base-component>
<div class="book-page">
    <div class="content">
        <div class="book-row">
            <div class="top-content">
                <img [src]="book?.img"  class="book-img" >
                <div>
                    <div class="mat-title title no-btm">
                        {{book?.title}}
                    </div> 
                    <div class="mat-subheading-1 title no-btm">
                        {{book?.author}}
                    </div> 
                    <div class="rate">
                        <mat-icon color="primary">star</mat-icon>
                        <mat-icon color="primary">star</mat-icon>
                        <mat-icon color="primary">star</mat-icon>
                        <mat-icon color="primary">star</mat-icon>
                        <mat-icon color="primary">star_border</mat-icon>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="row" *ngIf="router.url.toString().includes('post')">
                    <div class="label">
                        Rented by:
                    </div>
                    <div class="value">
                        {{book?.rentedBy ? book?.rentedBy?.name : 'No one yet'}}
                    </div>
                </div>

                <div class="row" *ngIf="router.url.toString().includes('rent')">
                    <div class="label">
                        Owner:
                    </div>
                    <div class="value">
                        {{book?.rentedBy ? book?.owner?.name : 'No one yet'}}
                    </div>
                </div>
                <div class="row">
                    <div class="label">
                        From:
                    </div>
                    <div class="value">
                        17/08/2020
                    </div>
                </div>
                <div class="row">
                    <div class="label">
                        To:
                    </div>
                    <div class="value">
                        17/03/2021
                    </div>
                </div>
                <div class="row">
                    <div class="label">
                        Payment method:
                    </div>
                    <div class="value">
                        Cash
                    </div>
                </div>
            </div>
        </div>
        
        </div>
        <footer>
            <div class="total-to-pay">
                <div class="no-btm">
                    Total:
                </div>
                <div class="no-btm">
                    500 $
                </div>
            </div>
            <button style="width: 100%; margin: 24px 0; height: 60px;" *ngIf="router.url.toString().includes('rent')" color="primary" mat-basic-button>
                <img style="height: 60px; width: 124px;" src="assets/img/mercado_pago.jpg" alt="">
            </button>
        </footer>
</div>
</base-component>