<div class="search-container">


<!--     <mat-form-field class="search-bar" floatLabel="never">
        <input matInput name="input" #input id="input" aria-label="State" [matAutocomplete]="auto"
            [formControl]="stateCtrl" (click)="onFocus(º)" class="mat-subheading-2 input" color="accent">
    </mat-form-field> -->

    <div class="search-bar mat-elevation-z2">
        <mat-icon class="search-icon">search</mat-icon>
        <mat-form-field floatLabel="never" class="form-field">
            <input matInput #input
                   id ="input"
                   name="input"
                   [formControl]="inputControl"
                   (focus)="onSearchFocus()"
                   (blur)="onSearchBlur()"
                   class="mat-subheading-2 input"
                   autocomplete="off"
                   autocapitalize="off"
                   autocorrect="off">
        </mat-form-field>
        <mat-icon class="search-icon" (click)="cleanSearch()">close</mat-icon>
    </div>

</div>
