


@media screen and (max-height: 403px){
  .search-container {
    display: none;
  }
  .no-data {
    display: none;
  }
}

.search-container {
  position: relative;
  padding: 0 !important;
  width: calc(100% - 32px);
  margin: auto;
  top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid rgba(0,0,0,0);
  border-radius: 8px !important;

  .title {
    margin: 0 !important;
    position: relative;
    padding-top: 26px;
    background: #ffffff;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-bottom: 50px;

  }

  .search-field {
    position: absolute;
    padding: 12px;
    width: auto;
    display: flex;
    align-items: center;
    height: 24px;
    top:0px;
    right: 0;
    left: 0;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .search-bar {
      padding: 0 16px;
      width: 100%;
      height: 52px;

      .input {
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: inherit !important;
        font-family: Roboto !important;
        letter-spacing: 0.15px;
        margin: 0 !important;
        color: rgba(0, 0, 0, 0.6);
      }

      .placeholder {
        color: rgba(0, 0, 0, 0.6)
      }
    }

  }

  .shadow {
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.14);
  }

  .mat-autocomplete-panel{
    top: 200px !important;
  }

}

.expand-borders {
  height: 104px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.expand-card {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  height: 18px;
  padding: 16px 12px !important;
  border-bottom: 2px solid #dedede;
  width: calc(100% - 56px);

}

.item {
  display: flex;
  width: 100%;
  align-items: center;
}

.no-data {
  position: relative;
  width: calc(100% - 32px);
  right: 16px;
  left: 16px;
  top: 156px;
  padding: 0 !important;
  // border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  height: 256px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

::ng-deep .mat-autocomplete-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
             0px 0px 0px 0px rgba(0, 0, 0, 0.12)
             !important;
}

::ng-deep .cdk-overlay-pane {
  width: 100% !important;
  pointer-events: auto;
  top: 222.088px;
  padding: 16px;
  left: 0px !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

