<div class="container">
    <mat-list class="list">
        <mat-list-item class="list-item" *ngFor="let order of orders">
            <div mat-line class="mat-subheading-2 order-title">
                <div class="title">
                    {{order.id}}
                </div>
            </div>
            <div mat-line class="mat-body-1 order-subtitle">
                <div class="line">{{order.description}}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
        </mat-list-item>
    </mat-list>
</div>