<base-component>
  <div class="header-extension">
    <search (searchFocus)="showShadow($event)"
             (searchBlur)="searchStarted()"
             (userSearching)="hidePanel($event)"
             (hasSearchResults)="handleSearchResults($event)"
             (customIconEvent)="showScanner()"
             [autoFocus]='true'></search>
  </div>
  <div *ngIf="!scanner" class="search-results-container" [ngClass]="(shadow || !emptyResults) ? 'shadow' : ''">
    <search-results *ngIf="!emptyResults" [items]="filteredResults" [rowType]="rowType"
      [dividerClass]="'customer-divider'" class="search-results"></search-results>
  <!-- needs to be added on fe-search-results [rowType]="rowType"  -->
    <div class="no-results-container" *ngIf="!hide && emptyResults">
      <div class="no-results" [ngClass]="(shadow || !emptyResults) ? 'move-up' : ''">
        <mat-icon class="icon">search</mat-icon>
        <div class="mat-title search-text">{{'searchcus' | translate}}</div>
        <div class="mat-subheading-2 search-description">{{'cusplaceholder' | translate}}</div>
      </div>
    </div>
    <div class="no-results-container" *ngIf="hide && emptyResults && !loading">
      <div class="no-results">
        <div class="mat-title search-text">{{'nomatchcus' | translate}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="scanner" class="search-container">
  <loading-state *ngIf="!scannerStarted"></loading-state>
    <fe-scanner (scanSuccess)="loyaltyCardScanned($event)"
                (scanStarted)="onStarted($event)"
                (scanError)="handlePermission($event)"
                (permission)="handlePermission($event)"
                (noCamera)="noCameraFound($event)"></fe-scanner>
  </div>
  <loading-state *ngIf="loading"></loading-state>
</base-component>
