@import "assets/styles/custom_material_dark_theme";
@import "assets/styles/custom_material_light_theme";
@import "assets/styles/custom_material_typography";
@import "assets/styles/global";

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}
body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  //padding-top: env(safe-area-inset-top); /* iOS 11.2 */
  margin: 0 !important;
  overflow: hidden;
  background: #F7F8F9;
}
