@import "assets/styles/custom_material_dark_theme";
@import "assets/styles/custom_material_light_theme";
@import "assets/styles/custom_material_typography";
@import "assets/styles/global";

html {
  //position: fixed;
  height: 100%;
  overflow: hidden;
}
body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  background: linear-gradient(180deg, #1666d8 6%, #F7F8F9 6%);;
}
