/* You can add global styles to this file, and also import other style files */

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}
body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  background: #ffffff;
}

.content {
  position: relative;
  padding: 16px;
  height: 100%;
}

