
<div class="modal-search">
  <div class="header">
    <div class="mat-body-2 button">
      {{('cancel' | translate) | titlecase}}
    </div>
    <div class="mat-subheading-2 title">
      {{('neworder' | translate) | titlecase}}
    </div>
    <div class="mat-body-2 button">
      {{('next' | translate) | titlecase}}
    </div>
  </div>
  <search (searchFocus)="showShadow($event)"
             (searchBlur)="removeShadow()"
             (userSearching)="hidePanel($event)"
             (hasSearchResults)="handleSearchResults($event)"
             [list]="customers"></search>
  <div class="search-container" [ngClass]="(shadow || !emptyResults) ? 'shadow' : ''">
    <search-results *ngIf="!emptyResults" [items]="filteredResults" [rowType]="rowType"
      [dividerClass]="'customer-divider'" class="search-results"></search-results>

    <div class="no-results" *ngIf="!hide && emptyResults">
      <mat-icon class="icon">search</mat-icon>
      <div class="mat-title search-text">{{'searchcus' | translate}}</div>
      <div class="mat-subheading-2 search-description">{{'cusplaceholder' | translate}}</div>
    </div>
    <div class="no-results" *ngIf="hide && emptyResults">
      <div class="mat-title search-text">{{'nomatchcus' | translate}}</div>
    </div>
  </div>
</div>
