.modal-search {
  height: 422px;
  width: 620px;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  overflow: hidden;

  .header {
    position: relative;
    flex: 0 0 55px;
    // height: 55px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(232, 232, 232, 0.1);
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;

    .title {
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 0;
    }

    .button-container {
      position: absolute;
      height: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        background: rgba(232, 232, 232, 0.1);
        color: #1666d8;
      }
    }

    .button-container.left {
      left: 0;
    }

    .button-container.right {
      right: 0;
    }

    .invisible {
      visibility: hidden;
    }
  }
  /* new search -- review fede */
  .search-container-dialog {
    box-sizing: border-box;
    padding: 24px 16px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .search-results-container {
    flex: 1;
    display: -webkit-flex;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: auto;

    .search-results {
      width: 100%;
    }

    .no-results-container {
      flex: 1;
      position: relative;
    }
  }

  .tablet-scanner {
    position: relative;
    top: -66px;
  }

  .load-shadow {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .spinner {
      position: absolute;
    }
  }
}

.modal-search.extra-large {
  height: 626px;
}
