@import 'assets/styles/custom_material_light_theme';
@import 'assets/styles/custom_material_dark_theme';
@import 'assets/styles/custom_material_typography';
@import 'assets/styles/global';

html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}