.page-content {
  position: relative;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  padding: 0 16px;

  .content {
    .header-extension {
      position: absolute;
      height: 40px;
      width: 100%;
      background: #1666d8;
      left: 0;
    }
    .second-card {
      overflow: auto;
    }
  }

  .header-content {
    margin-bottom: 12px;
    display: block !important;



    .first-card {
      margin-top: 8px;
      height: 120px;
    }

  }

  .centered {
    text-align: center;
  }
}

