<div class="wrapper">
  <main feSetHeight>
    <div class="scrollable-container">
      <div class="page-content">
        <div class="header-content" id="header-content">
          <div class="header-extension"></div>
          <mat-card class="first-card mat-elevation-z6">
            <div class="mat-title centered">
              Content header: card overlay
            </div>
          </mat-card>
        </div>
        <div class="content">
          <mat-card class="second-card mat-elevation-z6" feScrollableDiv>
            <div class="mat-title centered">
              Card 2:
            </div>
            <div class="mat-title centered">
              *scrollable if too long
            </div>
            <div class="mat-title centered">
              *always indicated by dropshadow
            </div>
            <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>

             <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div> <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>

             <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div> <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>
            <div class="mat-title centered">
              last element
            </div>
          </mat-card>
        </div>
      </div>

    </div>
  </main>
</div>
