.page-content {
  .content {
    .card {
      border-radius: 8px;
      padding: 0;
      display: inline-block;
      background: #ffffff;
      position: fixed;
      height: fit-content;
      max-height: calc(100% - 320px);
      width: calc(100% - 32px);
      bottom: initial;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      overflow-x: hidden;

      .list {
        position: relative;
        padding-top: 0 !important;
        width: 100%;
        bottom: initial;
        -webkit-overflow-scrolling: touch;

        .list-item {
          width: calc(100% - 15px);
          position: relative;
          z-index: 14;
          padding-left: 64px;
          left: -64px;

          .content {
            z-index: 2;
            background: #ffffff;
            display: inline-flex;
            padding: 10px 16px;
            width: calc(100% - 16px);
            justify-content: space-between;
            height: 44px;
            border-top: 1px solid #dadada;
            overflow: hidden;

            .info {
              display: flex;
              flex-flow: column;
              justify-content: space-evenly;
              color: rgba(0, 0, 0, 0.87);
              height: 100%;
              max-width: 224px;
            }

            .price {
              display: flex;
              height: 100%;
              color: #1666d8;
              align-self: center;
            }
          }

          .divider {
            position: relative;
            color: green;
            width: calc(100% + 16px);
          }
        }

        .delete-button {
          z-index: -1;
          position: absolute;
          top: 0;
          height: 64px;
          width: 64px;
          color: #ffffff;
          border-top: 1px solid rgba(255, 255, 255, 0);
          background: transparent;
          right: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  footer {
    display: block !important;
    .card {
      position: relative;
      border-radius: 8px;
      padding-top: 0;
      .info-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-top: 16px;
      }

      .order-total {
        @extend .info-total;
      }
    }

  }

  .centered {
    text-align: center;
  }
}

