.page-content {
  position: relative;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 16px;

  .content {
    height: auto;

    .header-extension {
      position: absolute;
      height: 40px;
      width: 100%;
      background: #1666d8;
      left: 0;
    }
    .second-card {
      overflow: auto;
    }
  }

  .footer-content {
    margin-bottom: 12px;
    display: block !important;
    .first-card {
      margin-top: 8px;
      height: 160px;
    }

  }

  .centered {
    text-align: center;
  }
}

