.tablet-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;

  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    min-width: 438px;
    border-right: 1px solid rgba(0,0,0,0.1);

    .main-content {

      .componet-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 38px 0;
        margin-bottom: 0;

        .icon {
          padding-left: 26px;
          padding-right: 16px;
        }
      }

      .customer-row {
        padding: 0;
        margin-bottom: 32px;
        border-radius: 0;
        border: 1px solid rgba(0,0,0,0.1);

        .customer-info {
          display: flex;
          align-items: center;
          padding: 0 16px;

          .avatar {
            background-color: rgba(0, 0, 0, 0.1);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            color: rgba(0, 0, 0, 0.87);
            text-align: center;
          }

          .item {
            display: flex;
            width: calc(100% - 80px);
            height: 71px;
            justify-content: space-between;
            align-items: center;
            margin-left: 16px;

            .item-info {
              .title {
                display: flex;
                margin: 0 !important;
                height: 28px;
                color: rgba(0, 0, 0, 0.87);
                align-items: center;
              }

              .subtitle {
                margin: 0 !important;
                color: rgba(0, 0, 0, 0.6);
              }
            }
          }
        }
        .total {
          display: flex;
          justify-content: space-between;
          padding: 16px;
        }

        .amount {
          color: rgba(0, 0, 0, 0.6);
        }
      }

      .order-items {
        height: 64px;
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        border-radius: 0;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,0.1);

        .items-amount {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title {
            color: rgba(0, 0, 0, 0.87);
            margin: 0px;
          }

          .items {
            color: rgba(0, 0, 0, 0.6);
            margin: 0px;
          }

        }
        .icon {
          align-self: center;
          color: rgba(0, 0, 0, 0.6);
        }

      }

      .active {
        background:#1666d8;
        .items-amount {
          .title {
            color: rgba(255, 255, 255, 0.87);
          }
          .items {
            color: rgba(255, 255, 0255, 0.6);
          }
        }
        .icon {
          color: rgba(255, 255, 0255, 0.6);
        }
      }
    }

    .footer-content {
      display: block !important;

      .card {
        position: relative;
        border-radius: 0px;
        padding-top: 0;
        border: 1px solid rgba(0,0,0,0.1);

        .info-total {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          padding-top: 16px;
        }

        .order-total {
          @extend .info-total;
        }
      }
    }
  }

  .right-content {
    width: 100%;
  }
}
