.tablet-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;

  .left-content {
    min-height: 100%;
    min-width: 438px;
    border-right: 1px solid rgba(0,0,0,0.1);

    .componet-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 38px 0;
      margin-bottom: 0;

      .icon {
        padding-left: 26px;
        padding-right: 16px;
      }
    }

    .customer-row {
      padding: 0;
      margin-bottom: 32px;
      border-radius: 0;
      border: 1px solid rgba(0,0,0,0.1);

      .customer-info {
        display: flex;
        align-items: center;
        padding: 0 16px;

        .avatar {
          background-color: rgba(0, 0, 0, 0.1);
          height: 40px;
          width: 55.28px;
          border-radius: 50%;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-content: center;
          color: rgba(0, 0, 0, 0.87);
          text-align: center;
        }

        .item {
          display: flex;
          width: 100%;
          height: 71px;
          justify-content: space-between;
          align-items: center;
          margin-left: 16px;

          .item-info {
            .title {
              display: flex;
              margin: 0 !important;
              height: 28px;
              color: rgba(0, 0, 0, 0.87);
              align-items: center;
            }

            .subtitle {
              margin: 0 !important;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
      .total {
        display: flex;
        justify-content: space-between;
        padding: 16px;
      }

      .amount {
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .order-items {
      height: 64px;
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      border-radius: 0;
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,0.1);

      .items-amount {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          color: rgba(0, 0, 0, 0.87);
          margin: 0px;
        }

        .items {
          color: rgba(0, 0, 0, 0.6);
          margin: 0px;
        }
      }

    }
  }
  .right-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 60px 40px;
    padding-bottom: 0;

    .order-items-title {
      height: 16px;
      color: rgba(0,0,0,0.87);
      font-family: Roboto;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 16px;
    }

    .card {
      border-radius: 8px;
      padding: 0;
      margin-top: 24px;
      display: flex;
      background: #ffffff;
      border: 1px solid rgba(0,0,0,0.1);
      box-sizing: border-box;
      max-height: 100%;
      overflow: auto;

      .list {
        position: relative;
        padding-top: 0 !important;
        width: 100%;
        bottom: initial;
        -webkit-overflow-scrolling: touch;

        .list-item {
          width: 100%;
          position: relative;

          .content {
            z-index: 2;
            display: inline-flex;
            padding: 10px 16px;
            width: 100%;
            justify-content: space-between;
            height: 64px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            overflow: hidden;
            box-sizing: border-box;


            .info {
              display: flex;
              flex-flow: column;
              justify-content: space-evenly;
              color: rgba(0, 0, 0, 0.87);
              height: 100%;
              max-width: 224px;
            }

            .price {
              display: flex;
              height: 100%;
              color: #1666d8;
              align-self: center;
            }
          }

          .divider {
            position: relative;
            color: green;
            width: calc(100% + 16px);
          }
        }

        .list-item:last-child {
          .content {
            border-bottom: none;
          }
        }
        .delete-button {
          z-index: -1;
          position: absolute;
          top: 0;
          height: 64px;
          width: 64px;
          color: #ffffff;
          border-top: 1px solid rgba(255, 255, 255, 0);
          background: transparent;
          right: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .right-footer {
      height: 104px;
      border-top: 1px solid rgba(0,0,0,0.1);
      filter: blur(8px);
      padding-top: 24px;

    }
  }
}
