
<base-component>
<div class="book-page">
    <div class="content">
        <div class="book-row">
            <img [src]="book?.img"  class="book-img" >
            <div>
                <div class="mat-title title no-btm">
                    {{book.title}}
                </div> 
                <div class="mat-subheading-1 title no-btm">
                    {{book.author}}
                </div> 
                <div class="rate">
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star_border</mat-icon>
                </div>
            </div>
        </div>

          <mat-form-field color="primary" appearance="fill">
            <mat-label class="font-color">Rent from</mat-label>
            <input class="font-color" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1">
            <mat-datepicker-toggle class="icon-color" matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker class="icon-color" touchUi #picker1 color="primary"></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field color="primary" appearance="fill">
            <mat-label class="font-color">To</mat-label>
            <input class="font-color" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2">
            <mat-datepicker-toggle class="icon-color" matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker class="icon-color" touchUi #picker2 color="primary"></mat-datepicker>
          </mat-form-field>

        </div>
        <footer>
            <div class="total-to-pay">
                <div class="mat-title no-btm">
                    Total:
                </div>
                <div class="mat-subheading-2 no-btm">
                    {{ total }} $
                </div>
            </div>
            <button (click)="letsRent()" class="app-btn mat-elevation-0"
                mat-button>
                {{('rentbook' | translate) | uppercase}}
        </button>
        </footer>
</div>
</base-component>