<!-- <div *ngIf="this.layout === 'mobile'" [style.display]="render ? 'block' : 'none'">  -->
<div *ngIf="this.layout === 'mobile'" >
  <header>
    <main-header></main-header>
  </header>
  <!-- <div [@routeAnimations]="prepareRoute(outlet)"> -->
    <div>
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>


<mat-drawer-container *ngIf="this.layout === 'tablet'" class="drawer-container" autosize>
  <!-- <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer> -->
  <header>
    <main-header></main-header>
  </header>
  <div class="sidenav-content">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</mat-drawer-container>
