<!-- <div *ngIf="this.layout === 'mobile'" [style.display]="render ? 'block' : 'none'">  -->
<div *ngIf="this.layout === 'mobile'" >
  <mat-drawer-container class="drawer" hasBackdrop="true">
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="head">
      <span>
        <mat-icon style="height: 40px; 
        width: 40px; 
        font-size: 40px; 
        margin-right: 8px;">
          account_circle
        </mat-icon>
      </span>
      <span class="mat-display-1 name">Angel</span>
    </div>
    <div class="mat-title option" (click)='routeTo("rent")' >Rented</div>
    <div class="mat-title option" (click)='routeTo("post")' >Posted</div>
  </mat-drawer>
  <!-- <div [@routeAnimations]="prepareRoute(outlet)"> -->
    <mat-drawer-content>
      <header>
        <main-header (toggle)="drawer.toggle()"></main-header>
      </header>
      <router-outlet #outlet="outlet">

      </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
</div>


<mat-drawer-container *ngIf="this.layout === 'tablet'" class="drawer-container" autosize>
  <!-- <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer> -->
  <header>
    <main-header></main-header>
  </header>
  <div class="sidenav-content">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</mat-drawer-container>
