<div class="container">
  <div class="top-content">
    <img [@image]="displayImg ? 'not-hide' : 'hide'" src="assets/img/commerce-logo.png" alt="" class="logo">
    <div [@title]="displayTitle ? 'not-hide' : 'hide'" class="title mat-display-1">
      Welcome
    </div>
    <div [@title]="displayTitle ? 'not-hide' : 'hide'" class="subtitle mat-headline">
      Sign in to Commerce
    </div>
  </div>
  <form [@content]="displayContent ? 'not-hide' : 'hide'" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" disabled="isSubmitted"
        style="width: 100%;">

    <div class="fields" >
      <!-- <mat-form-field color="accent" class="input mat-subheading-2" [style.display]="hideCustomerKey ? 'none': 'relative'">
        <mat-label class="mat-caption label">Customer key</mat-label>
        <input matInput class="input mat-subheading-2" formControlName="key" (keyup)="cleanError($event)">
      </mat-form-field>
      <mat-error class="error mat-body-1" *ngIf="!loginForm.controls['key'].valid && loginForm.controls['key'].touched">
        Field is required
      </mat-error> -->

      <mat-form-field color="accent">
        <mat-label class="mat-caption label">User</mat-label>
        <input matInput class="input mat-subheading-2"  formControlName="user" (keyup)="cleanError($event)">
      </mat-form-field>
      <mat-error class="error mat-body-1" *ngIf="!loginForm.controls['user'].valid && loginForm.controls['user'].touched">
        Field is required
      </mat-error>
      <mat-form-field color="accent">
        <input matInput class="input mat-subheading-2"  [type]="hidePassword ? 'password' : 'text'" formControlName="password" (keyup)="cleanError($event)">
        <mat-icon class="visibility-icon" matSuffix (click)="showPassword()">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-label class="mat-caption label">Password</mat-label>
      </mat-form-field>
      <mat-error class="error mat-body-1" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        Field is required
      </mat-error>
      <mat-error class="error mat-body-1" *ngIf="loginForm.valid && errorMessage!==''">
        Incorrect user name or password
      </mat-error>
      <button class="login-btn"
              [class.disabled] = "!loginForm.valid || isSubmitted"
              mat-raised-button>
              Sign in
              <mat-progress-bar
                [style.display]="isSubmitted ? 'block' : 'none'"
                mode="indeterminate"
                style="position: absolute; left: 0;">
              </mat-progress-bar>
        </button>
    </div>
  </form>
</div>

