// Height of the header.
$header-height: 128px;
// Height of the bottom nav.
$bottom-nav-height: 90px;
// This sum is used to calculate the height of the content.
$fixed-space: $header-height + $bottom-nav-height;
$content-height: calc(100vh - #{$header-height});

/* Structure
*   The main content of the app, must be
 */
.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;

  header {
    flex: 0 0 $header-height;
    min-height: $header-height;
    max-height: $header-height;
  }

  main {
    flex: 1 1 auto;
    height: $content-height;
    max-height: $content-height;
    background-color: #f7f8f9;
    box-sizing: border-box;

    .container {
      position: relative;
      height: 100%;
      background-color: transparent;
      max-height: 100%;
      box-sizing: border-box;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  footer {
    flex: 0 0 $bottom-nav-height;
    height: $bottom-nav-height;
    max-height: $bottom-nav-height;
    background-color: #f7f8f9;

  }
}

.shadow {
  background: rgba(0, 0, 0, 0.15) !important;
}

// .autocomplete {
//   position: fixed !important;
//   width: 100% !important;
//   top: 162px !important;
//   right: 0px !important;
//   left: 0px !important;
//   max-height: 100% !important;
// }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.delete-art {
  width: fit-content !important;
}

.mat-snack-bar-handset {
  /* width: 100%; */
  display: flex !important;
  justify-content: center !important;
}

.mat-bottom-sheet-container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.no-margin-btm {
  margin-bottom: 0px !important;
}

/* Removes the underline on mat inputs */

.mat-form-field-underline {
  display: none;
}

/* Removes the padding of the search bar */
.mat-form-field-wrapper {
  padding-bottom: 0;
}

// .mat-list-item-content {
//   padding: 0 !important;
// }
