@mixin set-structure($header-height, $footer-height: null) {
    $main-height: calc(100vh - #{$header-height});
    @if $footer-height != null {
        $main-height: calc(100vh - #{$header-height} - #{$footer-height});
    } 
    header {
        flex: 0 0 $header-height;
        min-height: $header-height;
        max-height: $header-height;
        box-sizing: border-box;
    }
    main {
        height: $main-height;
        max-height: $main-height;
    }
    @if ($footer-height) {
        footer {
            flex: 0 0 $footer-height;
            height: $footer-height;
            max-height: $footer-height;
            box-sizing: border-box;
        }
    }
}
