.container {
  position: absolute;
  height: calc(100% - 226px) !important;
  padding: 36px 16px;
  width: calc(100% - 32px);
  top: 152px;

  .no-results {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: calc(100% - 152px);

    .icon {
        width: 99px;
        height: 99px;
        font-size: 99px;
        color: rgba(0,0,0,0.54);
    }

    .search-text {
        color: rgba(0,0,0,0.87);
        margin-bottom: 3px
    }

    .search-description {
        color: rgba(0,0,0,0.6)
    }
}
}
