<fe-header [class]="'mat-headline'"
           [style]="'center'"
           [title]="'Customers'"
           [currentUrl]="'neworder'"
           [needsConfirm]="true"
           [headerSearch]="true"
           (goBack)="onHeaderGoBack()"
           (returnUrl)="returnUrl()"></fe-header>
<fe-search (customerChange)="onCustomerChange($event)"
           (hidePlaceholder)="hidePanel($event)"
           (darker)="showShadow($event)"
           [list]="customers"
           [itemType]="rowType"
           (nodata)="noDataPlaceholder($event)"
           (clickOutside)="removeDark()"
           [small]="true"
           ></fe-search>
<div class="container" [ngClass]="shadow ? 'shadow' : ''">
  <div class="no-results" *ngIf="!hide">
    <mat-icon class="icon">search</mat-icon>
    <div class="mat-title search-text">Search customers</div>
    <div class="mat-subheading-2 search-description">Find name, contact & company info</div>
  </div>
  <div class="no-results" *ngIf="nodata" >
    <div class="mat-title search-text">no matching customers</div>
  </div>
</div>
