
$sdp-typography: mat-typography-config(
    $font-family: "Roboto, Open Sans",
    $display-4: mat-typography-level(94.77px, inherit, 400, $letter-spacing: -1.5px, $font-family: "Open Sans"),
    $display-3: mat-typography-level(59.72px, inherit, 300, $letter-spacing: -0.5px, $font-family: "Open Sans"),
    $display-2: mat-typography-level(46.45px, inherit, 700, $letter-spacing: 0, $font-family: "Open Sans"),
    $display-1: mat-typography-level(33.26px, inherit, 600, $letter-spacing: 0.25px, $font-family: "Open Sans"),
    $headline: mat-typography-level(23.48px, inherit, 600, $letter-spacing: 0, $font-family: "Open Sans"),
    $title: mat-typography-level(19.36px, inherit, 700, $letter-spacing: 0.25px, $font-family: "Open Sans"),
    $subheading-2: mat-typography-level(16px, inherit, 500, $letter-spacing: 0.15px, $font-family: "Roboto"),
    $subheading-1: mat-typography-level(14px, inherit, 400, $letter-spacing: 0.1px, $font-family: "Roboto"),
    $body-2: mat-typography-level(16px, inherit, 400, $letter-spacing: 0.5px, $font-family: "Roboto"),
    $body-1: mat-typography-level(14px, inherit, 400, $letter-spacing: 0.25px, $font-family: "Roboto"),
    $caption: mat-typography-level(12px, inherit, 400, $letter-spacing: 0.4px, $font-family: "Roboto"),
    $button: mat-typography-level(14px, inherit, 700, $letter-spacing: 1.25px, $font-family: "Roboto"),
);

@include mat-core($sdp-typography);