
.header-extension {
    background: #1666d8;
    padding-bottom: 16px;
    .input {
        height: 48px;
    }
}

.home-container {
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
    overflow: auto;
    .headline {
        font-weight: 600;
        color: rgba(0, 0, 0, 0.87);
    }

    .card {
        position: relative;
        box-shadow: none;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        height: 81px;
        padding-left: 16px;
        padding-top: 11px;
        padding-bottom: 8px;
        padding-right: 23.13px;
        margin-bottom: 16px;
        box-sizing: border-box;
        .card-content {
            display: -webkit-flex;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-content: center;
            .content {
                .order-title {
                    margin: 0 !important;
                    padding: 0 !important;
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: 600;
                    height: 24px;
                    display: -webkit-flex;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                }
                .order-subtitle {
                    height: 40px;
                    color: rgba(0, 0, 0, 0.6);
                    font-weight: 500;
                    display: -webkit-flex;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    .line {
                        height: 20px;
                    }
                }
            }
        }

        .icon {
            align-self: center;
        }

        &.last {
            margin-bottom: 0;
        }
    }
}
