.search-results-list {
    background-color: #ffffff;
    width: 100%;
    padding-top: 0;
    -webkit-overflow-scrolling: touch;

    .list-item {
        height: 64px;
        padding: 0 !important;
        .list-row {
            position: relative;
            height: 100%;
            width: 100%;
            height: 64px;
        }

        .divider {
            width: calc(100% - 16px);
            left: 16px;
        }
        .customer-divider {
            width: calc(100% - 72px);
            left: 72px;
        }
    }

    .list-item:last-child {
        .divider {
            display: none;
        }
    }
}
