<div class="container">
  <div class="top-content">
    <img [@image]="displayImg ? 'not-hide' : 'hide'" src="assets/img/commerce-logo.png" alt="" class="logo" #logo id="logo">
    <div [@title]="displayTitle ? 'not-hide' : 'hide'" class="title mat-display-1">
      {{'welcome' | translate}}
    </div>
    <div [@title]="displayTitle ? 'not-hide' : 'hide'" class="subtitle mat-headline">
      {{'signin' | translate}}
    </div>
  </div>
  <form [@content]="displayContent ? 'not-hide' : 'hide'" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" disabled="isSubmitted"
        style="width: 100%;">

    <div class="fields" >
      <mat-form-field color="accent" [style.display]="hideCustomerKey ? 'none': 'relative'">
        <mat-label class="mat-caption input">{{'customerkey' | translate}}</mat-label>
        <input matInput class="input" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false" formControlName="key" (keyup)="cleanError($event)">
      </mat-form-field>
      <mat-error class="error mat-body-1" *ngIf="!loginForm.controls['key'].valid && loginForm.controls['key'].touched">
        {{'required' | translate }}
      </mat-error>

      <mat-form-field color="accent">
        <mat-label class="mat-caption input">{{'user' | translate}}</mat-label>
        <input matInput class="input" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false" formControlName="user" (keyup)="cleanError($event)">
      </mat-form-field>
      <mat-error class="error mat-body-1" *ngIf="!loginForm.controls['user'].valid && loginForm.controls['user'].touched">
        {{'required' | translate }}
      </mat-error>
      <mat-form-field color="accent" style="margin-bottom: 0;">
        <mat-label class="mat-caption input">{{'password' | translate}}</mat-label>
        <input matInput class="input"  [type]="hidePassword ? 'password' : 'text'" formControlName="password" (keyup)="cleanError($event)">
        <mat-icon class="visibility-icon" matSuffix (click)="showPassword()">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-error class="error mat-body-1" style="margin-top: 8px;" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        {{'required' | translate }}

      </mat-error>
      <mat-error class="error mat-body-1" style="margin-top: 8px;" *ngIf="loginForm.valid && errorMessage!==''">
        {{'incorrectpas' | translate}}
      </mat-error>
      <button class="login-btn mat-elevation-0"
              [class.disabled] = "isSubmitted"
              [disabled] = "isSubmitted"
              mat-button>
              {{('sign' | translate) | uppercase}}
              <mat-progress-bar
                mode="indeterminate"
                color="accent"
                [style.display]="isSubmitted ? 'block' : 'none'"
                style="position: absolute;
                       left: 0;
                       bottom: 0;">
              </mat-progress-bar>
        </button>
      </div>
  </form>
</div>

