.order-overview {
  position: absolute;
  right: 16px;
  left: 16px;
  top: 128px;

  .customer-row {
    padding: 0;
    border-radius: 8px;
    margin-bottom: 32px;

    .customer-info {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;

      .avatar {
        background-color: rgba(0, 0, 0, 0.1);
        height: 40px;
        width: 49.28px;
        border-radius: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        color: rgba(0, 0, 0, .87);
        text-align: center;
        margin: 0 16px;
      }

      .item {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 71px;
        justify-content: space-between;
        align-items: center;

        .item-info {

          .title {
            margin: 0 !important;
            height: 28px;
            color: rgba(0, 0, 0, 0.87);
          }

          .subtitle {
            margin: 0 !important;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }

    }
    .total {
      display: flex;
      justify-content: space-between;
      padding: 16px;
    }

    .amount {
      color: rgba(0, 0, 0, 0.6);
    }

  }

  .order-items {
    padding: 10px 16px;

    .title {
      color: rgba(0, 0, 0, .87);
      margin: 0px;
    }

    .items {
      color: rgba(0, 0, 0, 0.6);
      margin: 0px;
    }
  }
}
