<div class="modal-search">
  <div class="header">
    <button mat-button class="mat-body-2 button" (click)="leftIconClick()">
      {{(this.data?.firstButton | translate) | titlecase}}
    </button>
    <div class="mat-subheading-2 title">
      {{('neworder' | translate) | titlecase}}
    </div>
    <button mat-button class="mat-body-2 button" (click)="rightIconClick()">
      {{(this.data?.secondButton | translate) | titlecase}}
    </button>
  </div>
  <div class="search-container-dialog">
    <search autoFocus="true"
            (searchFocus)="showShadow($event)"
            (searchBlur)="removeShadow()"
            (userSearching)="hidePanel($event)"
            (hasSearchResults)="handleSearchResults($event)"
            [list]="articles"></search>
  </div>
  <div *ngIf="!scanner" class="search-results-container" [ngClass]="(shadow || !emptyResults) ? 'shadow' : ''">
    <search-results *ngIf="!emptyResults" [items]="filteredResults" [rowType]="rowType"
     class="search-results"></search-results>
    <div class="no-results-container" *ngIf="!hide && emptyResults">
      <div class="no-results">
        <mat-icon class="icon">search</mat-icon>
        <div class="mat-title search-text">{{'searcharts' | translate}}</div>
        <div class="mat-subheading-2 search-description">{{'artsplaceholder' | translate}}</div>
      </div>
    </div>
    <div class="no-results-container" *ngIf="hide && emptyResults">
      <div class="no-results">
        <div class="mat-title search-text">{{'nomatcharts' | translate}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="scanner" class="search-results-container">
    <fe-scanner (scanSuccess)="articleCodeScanned()"></fe-scanner>
  </div>
</div>

