<div class="modal-search" [ngClass]="scanner? 'extra-large' : ''">
  <div class="header">
    <button mat-button class="mat-body-2 button" (click)="leftIconClick()">
      {{(this.data?.firstButton | translate) | titlecase}}
    </button>
    <div class="mat-subheading-2 title">
      {{('neworder' | translate) | titlecase}}
    </div>
    <button mat-button class="mat-body-2 button" (click)="rightIconClick()">
      {{(this.data?.secondButton | translate) | titlecase}}
    </button>
  </div>
  <div class="search-container-dialog">
    <search (searchFocus)="showShadow($event)"
            (searchBlur)="searchStarted()"
            (userSearching)="hidePanel($event)"
            (hasSearchResults)="handleSearchResults($event)"
            (customIconEvent)="showScanner()"></search>
  </div>
  <div *ngIf="!scanner" class="search-results-container" [ngClass]="(shadow || !emptyResults) ? 'shadow' : ''">
    <loading-state *ngIf="loading"></loading-state>
    <search-results *ngIf="!emptyResults" [items]="filteredResults" [rowType]="rowType"
     class="search-results"></search-results>
    <div class="no-results-container" *ngIf="!hide && emptyResults">
      <div class="no-results">
        <mat-icon class="icon">search</mat-icon>
        <div class="mat-title search-text">{{'searcharts' | translate}}</div>
        <div class="mat-subheading-2 search-description">{{'artsplaceholder' | translate}}</div>
      </div>
    </div>
    <div class="no-results-container" *ngIf="hide && emptyResults">
      <div class="no-results">
        <div class="mat-title search-text">{{'nomatcharts' | translate}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="scanner" class="search-results-container">
    <loading-state *ngIf="!scannerStarted"></loading-state>
    <fe-scanner class="tablet-scanner"
                (scanSuccess)="articleCodeScanned($event)"
                (scanStarted)="onStarted($event)"
                (permission)="handlePermission($event)"
                (noCamera)="noCameraFound($event)"></fe-scanner>
  </div>

</div>

