.gradient-background {
  height: 178px;
  width: 100%;
  background: linear-gradient(270deg, #1F51D2 0%, #1946B9 100%);
  color: #ffffff;
  padding-left: 16px;
  display: flex;
  position: relative;
  overflow: hidden;

  .close-icon {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-right: 25%;
  }

  .title-centered {
    width: 85%;
    text-align: center;
  }

  .oval-1 {
    position: absolute;
    border-radius: 50%;
    height: 188px;
    width: 188px;
    right: -45px;
    top: 79px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }

  .oval-2 {
    position: absolute;
    border-radius: 50%;
    height: 169px;
    width: 169px;
    top: 53px;
    right: -91px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }

  .oval-3 {
    position: absolute;
    border-radius: 50%;
    height: 253px;
    width: 253px;
    top: -221px;
    right: 65px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }

  .oval-4 {
    position: absolute;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    top: -177px;
    left: -143px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }
}

