$toolbar-height: 178px;
.overlay {
  position: absolute;
  left: 0; 
  right: 0;
  width: 100%;
  height: $toolbar-height;
  z-index: -1;
}
.gradient-background {
  height: $toolbar-height;
  width: 100%;
  // background-image: url('assets/img/header.png');
  // background-repeat: round;
  background: transparent !important;
  color: #ffffff;
  padding-left: 16px;
  display: flex;

  .close-icon {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25%;

  }
}

