<header id="header" #header></header>
  <mat-toolbar class="header-toolbar">
    <!-- <div class="left-icon">
      <mat-icon class="close-icon" (click)="goLastVisited()">
        {{icon}}
      </mat-icon>
    </div> -->
    <div class="mat-display-1 title">
      {{title}}
    </div>
    <!-- <mat-icon *ngIf="logoutIcon"  class="logout" (click)="logout()">
      exit_to_app
    </mat-icon>
    <mat-icon *ngIf="delete"  class="lined-icon" (click)="deleteOrder()">
      delete_outline
    </mat-icon>
  
    <mat-icon *ngIf="addArt" class="lined-icon" (click)="addArticle()">
      {{ 'add' | translate}}
    </mat-icon> -->
  </mat-toolbar>
  
</header>