.gradient-background {
  position: sticky;
  height: 100% !important;
  color: #ffffff;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size:
      240px 240px,
      253px 253px,
      169px 169px,
      188px 188px,
      cover;
  background-image:
      url('~/assets/img/blurry-circle-3.svg'),
      url('~/assets/img/blurry-circle-3.svg'),
      url('~/assets/img/blurry-circle-3.svg'),
      url('~/assets/img/blurry-circle-3.svg'),
      linear-gradient(270deg, #1F51D2 0%, #1946B9 100%);
  background-position:
      -80px -124px,
      100px -170px,
      318px 56px,
      268px 104px,
      0 0;

  .close-icon {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100001;
    //margin-right: 25%;
  }

  .logout {
    @extend .close-icon;
    z-index: 4;
  }

  .title-centered {
    width: calc(100% - 64px);
    text-align: center;
  }

  .oval-1 {
    position: absolute;
    border-radius: 50%;
    height: 188px;
    width: 188px;
    right: -45px;
    top: 79px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }

  .oval-2 {
    position: absolute;
    border-radius: 50%;
    height: 169px;
    width: 169px;
    top: 53px;
    right: -91px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }

  .oval-3 {
    position: absolute;
    border-radius: 50%;
    height: 253px;
    width: 253px;
    top: -221px;
    right: 65px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }

  .oval-4 {
    position: absolute;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    top: -177px;
    left: -143px;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.header-search {
  height: 162px;
  padding-bottom: 24px;
}

