<div class="main-wrapper">
  <header>
    <fe-header [class]="'mat-display-1'" [currentUrl]="'home'" [logoutIcon]="true" [title]="'home'"></fe-header>
  </header>
  <main>
    <div class="container">
      <div class="mat-headline headline">{{'recOrds' | translate}}</div>
      <mat-card class="card" #ordersCard [ngClass]="cardOverflows ? 'overflows' : ''">
        <mat-card-content>
          <mat-list role="list" class="list" #ordersCardList>
            <mat-list-item class="list-item" *ngFor="let order of orders" (click)="openOrder(order)">
              <div mat-line class="mat-subheading-2 order-title">
                <div class="title">
                  {{order.id}}
                </div>
                <div class="mat-caption money">
                  € {{order.amount}}
                </div>
              </div>
              <div mat-line class="mat-body-1 order-subtitle">
                <div class="line">{{order.description}}</div>
                <!-- <div class="line">Created by {{order.createdBy}}</div> -->
                <div class="line">{{'customer' | translate}}: {{order.customer.name}}</div>
              </div>
              <mat-divider class="divider"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <fe-create-button (click)="createOrder()"></fe-create-button>
    </div>
  </main>
</div>
