.container {
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;

    .headline {
        font-weight: 600;
        color: rgba(0, 0, 0, 0.87);
        flex: 0 0 auto;
    }
    .card {
        position: relative;
        box-shadow: none;
        max-height: 100%;
        overflow: auto;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0 !important;

        .list {
            .list-item {
                .order-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: rgba(0, 0, 0, 0.87);
                    height: 24px;
                    font-weight: 600;
                }

                .order-subtitle {
                    height: 40px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            .divider {
                left: 16px;
                width: calc(100% - 16px);
            }
        }

        &.overflows {
            .list {
                .list-item:last-child {
                    padding-bottom: 11px;
                }
            }
        }
    }
}
